* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.page-wrapper {
  margin: auto;
  width: 80%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  background-color: black;
  margin-bottom: 20px;
}
.logo {
  color: white;
  font-weight: bold;
}
nav ul {
  display: flex;
  column-gap: 25px;
}
nav ul li * {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
@media (max-width: 490px) {
  header {
    width: 100%;
  }
  nav ul {
    column-gap: 10px;
  }
}
@media (max-width: 320px) {
  header {
    width: 100%;
  }

  nav ul {
    column-gap: 5px;
  }
  nav ul li {
    font-size: 12px;
  }
}
